**ST207 Summative Assessment 2**

Candidate Number: 45608

MiniWorld Description: LIBRARY database 

Consider a library database in which the library records information about customers who borrow books (i.e loans made by the library), books the library stores, loans made, authors, publishers, and fines associated with the loans. The data requirements are summarized as follows:

*  The library has customers which are members of the library, each of whom is identified by a unique customer number and is described by their first name, last name, phone number, email ID, and address
* The library contains various books which are identified by a unique book number, the title of the book, the author ID, publisher ID, ISBN number, and genre 
* The authors are identified by their unique author number, first name, and last name 
*   The publishers are identified by their unique publisher number, first name, last name, year published, and book ID
*   Loans are created when customers borrow books which are identified by a unique loan number, the date the book was borrowed and is due, the customer who borrowed the book, the book that was borrowed, and the fine associated with the loan, if any

Description of entities and attributes 

The baseline conceptual model should contain the following <entity;attributes>;

1. <customers; Customer_ID (PK), First_Name, Last_Name, Phone_Number, Email_ID, Address>
2. <authors; Author_ID (PK), First_Name, Last_Name>
3. <publishers; Publisher_ID (PK), Publisher_Name, Year_Published>
4. <books; Book_ID (PK), Title, Author_ID (FK), Publisher_ID (FK), ISBN_Number, Genre>
5. <loans; Loan_ID (PK), Borrowed_Date, Due_Date, Borrower_ID (FK), Book_ID (FK), Fine>

Description and correct mapping of all relationships 

The minimum conceptual model should have the following relationships and cardinalities

1. Each customer makes zero or many (0, N) loans
2. Each loan can have one and only one (1, 1) customer 
3. Each loan made can have one and only one (1, 1) book 
4. Each book can have zero or many (0, N) loans
5. Each book can have one and only one (1, 1) author 
6. Each author can have one or many (1, N) books
7. Each book can have one and only one (1, 1) publisher 
8. Each publisher can publish one and many (0, N) books

Description and correct mapping of contraints related to business rules

The state of the library datatbase corresponds to the statuses of all its relations in a particular point in time 

The constraints are derived from the rules in the miniworld that the database represents 

Examples of constraints related to business rules

1. Inherent model-based (or implicity) constraints: 

*   the tuples are ordered i.e. the order of data insertion must be maintained
*   the tuples are heterogenous i.e. the tuples can consist of various data types 
*   each value in the tuple is atomic i.e. it is not divisible into components 
*   NULL values indicate either value unkown, value exists but is not available, or attribute does not apply to this tuple or value undefined

2. Schema-based (or explicity) constraints: 

Entity integrity constraints: no primary key value can be NULL

Primary Keys 

*   customers Table: Customer_ID
*   authors Table: Author_ID 
*   publishers Table: Publisher_ID 
*   books Table: Book_ID 
*   loans Table: Loan_ID 

Referential integrity constaints: between two relations, used to maintain the consistency among tuples in two relations. a tuple in one relation that refers to another relation must refer to an existing tuple in that relation

Foreign Keys: links the referencing relation to the referenced relation 

1. books Table: 
*   Author_ID in the books Table is a foriegn key refrencing Author_ID from the author Table
*   Publisher_ID in the publishers Table is a foreign key referencing Publisher_ID from the publishers Table

2. loans Table: 
*    Borrower_ID in the loans Table is a foreign key referencing Customer_ID in the customers Table
*   Book_ID in the loans Table is a foreign key referencing Book_ID in the books Table

3. Application-based (or semantic constraints): business rules that cannot be directly expressed in the schemas of the data model and must be enforced by the application programs 

these constraints are portrayed through the triggers created and are specific to the database of the miniworld

example 1: before inserting a new customer into the customers table - a trigger is needed to check if the customer already exists 

example 2: before updating a row in the customers table - a trigger is needed to check if the customer_ID can be changed

example 3: before deleting rows from the customers table - a trigger is needed to check for foreign key violations 

example 4: after deleting rows from the customer table - a trigger is needed to log the information about which customer was removed in the customers_log table

Choice of library and database connection

In [1]:
#connecting to database using Python
#import sqlite3, pandas, os
#ensures the notebook can be run multiple times without errors 
import sqlite3
import pandas as pd 
import os 

#use the function connect to create an object conn
#connect to the SQLite driver to manipulate the database library 
#creates database named library 
conn = sqlite3.connect('library.db')

Table creation and data loading, including relational constraints (PK, FK, NOT NULL)

The data for the library miniworld database was created in Excel. A new excel workbook is used for each entity. The data for each attribute of that entity is manually entered in Excel with the columns representing attribute names and the rows having the relevant data. 
Each Excel file for each entity is saved as a CSV file with the table name.

The CSV files are uploaded into Google Collab in the files section. Tables are created in Python by retrieving the data from the CSV files and are stored in library.db

The tables are made SQL compatible using .to_sql

Since the data was creating in CSV files, when library.db is downloaded and opened in DB browser for SQLite the constraints related to business rules are not directly displayed in the Database Structure Schema. However, for each table schema assume the following constraints:

1. authors Table:

Author_ID: PK, NOT NULL

First_Name: NOT NULL 

Last_Name: NOT NULL 

2. books Table:

Book_ID: PK, NOT NULL

Title: NOT NULL

Author_ID: NOT NULL, FK 

Publisher_ID: NOT NULL, FK

ISBN_Number: NOT NULL

Genre: no constraints 

3. customers Table:

Customer_ID: PK, NOT NULL 

First_Name: NOT NULL 

Last_Name: NOT NULL 

Phone_Number: no constraints 

Email ID: no constraints 

Address: no constraints

4. loans Table:

Loan_ID: PK, NOT NULL 

Borrower_Date: NOT NULL 

Due_Date: NOT NULL

Borrower_ID: NOT NULL, FK

Book_ID: NOT NULL, FK

Fine: NOT NULL 

5. publishers Table

Publisher_ID: PK, NOT NULL

Publisher_Name: NOT NULL

Year_Published: NOT NULL

In [2]:
#creating tables using Python 
#create the table using the data saved in CSV files 
#upload the CSV files to the Files folder on the left hand side toolbar 
#creates tables in the database - library.db 
customers = pd.read_csv('Customers.csv')
books = pd.read_csv('Books.csv')
authors = pd.read_csv('Authors.csv')
publishers = pd.read_csv('Publishers.csv')
loans = pd.read_csv('Loans.csv')

In [3]:
#write records in the DataFrame customers, books, authors, publishers, loans as tables to the databse library using the DataFrame method to_sql
#index = False to ensure that the DataFrame row index is not written into the SQL tables 
#check if the database has been properly created by downloading the databsae from the Files folder 
#open the database in DB Browser for SQLite and browse the tables
customers.to_sql('customers', con=conn, index = False)
books.to_sql('books', con=conn, index = False)
authors.to_sql('authors', con=conn, index = False)
publishers.to_sql('publishers', con=conn, index = False)
loans.to_sql('loans', con=conn, index = False)

In [4]:
#manipulate databases using Python 
#create a cursor object c
c = conn.cursor()
#use execute and fetchall methods from sqlite3 to run SQL commands

In [5]:
#retrieve all the tales in the database 
c.execute('''
SELECT name 
    FROM sqlite_master 
  WHERE type = 'table'
''')
c.fetchall()

[('customers',), ('books',), ('authors',), ('publishers',), ('loans',)]

In [6]:
#browse a table 
#example: customers
c.execute("SELECT * FROM customers").fetchall()

[(1,
  'Sanskriti',
  'Chandak',
  6092161547,
  'sanskritichandak@gmail.com',
  '21 Babson College Drive, Wellesley, MA, 02481 '),
 (2,
  'Saloni',
  'Mathur',
  8574104655,
  'salonimathur@gmail.com',
  '34 Tufts Lane, Medford, MA, 03471'),
 (3,
  'Payal',
  'Mahesh',
  6179012914,
  'payalmahesh@gmail.com',
  '25 Richmond Lane, Back Bay, MA, 82375'),
 (4,
  'Valerija',
  'Ilievska',
  3382130536,
  'valerijailievska@gmail.com',
  '56 Milton Drive, Waltham, MA, 38475'),
 (5,
  'Anumita',
  'Shringi',
  4341928590,
  'anumitashringi@gmail.com',
  '76 Thayer Street, South End, MA, 73653'),
 (6,
  'Shadman',
  'Sakib',
  7442915630,
  'shadmansakib@gmail.com',
  '23 Mattos Way, Newton, MA, 27465'),
 (7,
  'Arnav',
  'Kolli',
  6032882287,
  'arnavkolli@gmail.com',
  '88 Amherst Street, Amherst, MA, 38575'),
 (8,
  'Ameer',
  'Himati',
  8123278280,
  'ameerhimati@gmail.com',
  '45 Kelly Lane, Bloomington, MA 82745'),
 (9,
  'Subhash',
  'Chintalapati',
  4703656908,
  'subhashchintalapati@gmail.com',
  '78 Oyster Way, Worcester, MA, 48295'),
 (10,
  'Yamini',
  'Yepuri',
  4126367317,
  'yaminiyepuri@gmail.com',
  '37 Carnegie Lane, Camden, MA, 23857')]

Views: Virtual tables desrived from base (physical) tables and used to map information from one or more base tables into personalized or restricted virtual tables 
*   Views are usually virtual and temporary tables
*   Views can be materialized i.e. stored physically in the database

Views can be built from different tables by projecting specific attributes and/or summarizing data from those tables 

Views can also be the result of a SQL command 

Views can be used as any other base table for queries and update commands 

Any modification in the base tables is automatically reflected in the view

View 1: create a view of loans that had fines associated with their borrowing in order of the highest to lowest fines 

Type of view: materialized/permanent view 

This view is being created as a permanent view to ensure that when library.db is downloaded and opened in applications such as DB Browser for SQLite, the view is visible and accessible

Why each view if needed in the context of your chosen application: In the context of the library miniworld, this view is needed to retrieve information about customers who borrowed books and were fined for returning the book past the due date and/or damaging the book, etc. This filters out customers who returned the book on time and had no fines associated with the books they borrowed. This view allows us to examine the list of customers that need to pay/have paid fines for the loans they made. In addition, it allows us to view the books that were returned late or damaged. The descending order of the fines allows us to view the customers with the highest fines first

Entities: loans, books 

Attributes: Loan_ID, Borrower_ID, Book_ID, Fine

In [7]:
#View 1
c.execute('''
CREATE VIEW IF NOT EXISTS LoansWithFines AS
SELECT L.Loan_ID, L.Borrower_ID, L.Book_ID, L.Fine
FROM loans AS L
JOIN books AS B ON L.Book_ID = B.Book_ID
WHERE L.Fine IS NOT "0"
ORDER BY L.Fine DESC
''')
c.fetchall()

[]

View 2: create a view of customers that borrowed books and their respective information

Type of view: materialized/permanent view 

This view is being created as a permanent view to ensure that when library.db is downloaded and opened in applications such as DB Browser for SQLite, the view is visible and accessible

Why each view if needed in the context of your chosen application: In the context of the library miniworld, this view is needed to retrieve information about customers that made loans from the library, i.e. borrowed books from the library. Since you can be a customer of the library but not have borrowed any books, this view filters out customers that have never borrowed books from the library. This view allowed us to examine the relevant customer information of those that have borrowed books. This information is useful for the library to know which of its customers use its services. 

Entities: customers, loans

Attributes: Customer_ID, First_Name, Last_Name

In [8]:
#View 2
c.execute('''
CREATE VIEW IF NOT EXISTS Borrowers AS
SELECT C.Customer_ID, C.First_Name, C.Last_Name
FROM customers AS C, loans AS L 
WHERE C.Customer_ID = L.Borrower_ID
GROUP BY C.Customer_ID
''')
c.fetchall()

[]

Triggers: specifies the type of action to be taken when certain events occur and when certain conditions are satisfied 

The trigger is defined by its name and is specified through the ECA rule 

Event(s): database update operations that must be specified BEFORE OR AFTER such operations 

Condition: whether the rule action should be executed. once the triggering event has occured, the condition is evaluated and only if it evaluted to TRUE, the rule action is executed 

Action: this describes the action to be taken in the form of a database transaction or stored procedure

Creating Triggers 

Define a trigger name: unique name for the trigger 

The trigger inherits the scheme (attributes) of its table

BEFORE, AFTER, INSTEAD OF: specifies whether the function is called before, after, or instead of an event

Database-event: one of the INSERT, UPDATE, DELETE that will fire the trigger 

Table-name: the name of the table or view the trigger is for 

FOR EACH ROW/STATEMENT: specifies whether the trigger procedure should be fired once for every row affected by the trigger event, or just once per SQL statement. If neither is specified, FOR EACH STATEMENT is the default 

Expression: a Boolean expression that determines whether the trigger function will actually be executed 

Trigger-step: action for the trigger, it is in the SQL statement 

OLD and NEW keywords enable you to acess columns in the rows affected by a trigger within the trigger body 

INSERT trigger: NEW.col_name 

UPDATE trigger: OLD.col_name to refer to the columns of a row before it is updated

UPDATE trigger: NEW.col_name to refer to the columns of the row after it is updated

DELETE trigger: OLD.col_name

In [9]:
#creating a log table to store any updates to the customers table 
#no major constraints in this table (i.e. primary keys, not null values, etc.)
#only a foreign key pointing to customers
c.execute('''
CREATE TABLE customers_log (
	Cust_ID INTEGER, 
	First_Name TEXT, 
	Last_Name TEXT, 
	Phone_Number INTEGER,
	Edit_Time INTEGER, 
	Description TEXT
	/*CONSTRAINT fk_customers*/
	/*FOREIGN KEY(Cust_ID) REFERENCES customers(Customer_ID)*/
);
''')
#foreign key to customers to ensure any log entry is related to an existing customer 
#commented out CONSTRAINT and FOREIGN KEY as it results in an error when testing triggers
#however, the customers_log table is theoretically linked to the customers table based on the foreign key relationship with Cust_ID from customers_log referencing Customers_ID from customers
c.fetchall

In [10]:
#Trigger 1
#AFTER INSERT 
#Actions to be taken after inserting rows in the customers table
c.execute('''
CREATE TRIGGER aft_insert AFTER INSERT ON customers 
BEGIN 
/*log information about a new customer*/
	INSERT INTO customers_log(Cust_ID, First_Name, Last_Name, Phone_Number, Edit_Time, Description)
	VALUES(NEW.Customer_ID, NEW.First_Name, NEW.Last_Name, NEW.Phone_Number, current_date, "New Customer");
END; 
''')
c.fetchall

In [11]:
#Testing trigger 1
c.execute('''
INSERT INTO customers
VALUES(11, 'Adam', 'Fazal', 8439849381, 'adamfazal@gmail.com', '54 Cambridge Way, Cambridge, MA, 04859');
''')
c.fetchall

In [12]:
#Trigger 2 
#BEFORE INSERT
#Actions to be taken before inserting a row into the customers table
c.execute('''
CREATE TRIGGER bef_insert BEFORE INSERT ON customers
BEGIN
/*Check if customer exists*/
	SELECT CASE 
	WHEN ((SELECT customers.Customer_ID FROM customers WHERE customers.Customer_ID = NEW.Customer_ID) IS NOT NULL)
	THEN RAISE(FAIL, 'ERROR: This Customer_ID does exist.')
END;
END;
''')
c.fetchall

In [13]:
#Testing trigger 2
c.execute('''
INSERT INTO customers(Customer_ID, First_Name, Last_Name, Phone_Number, Email_ID, Address) values(12, 'Rohan', 'Samala', 8375932859, 'rohansamala@gmail.com', '56 Carolina Lane, Raleigh, MA, 82475');
''')
c.fetchall

In [14]:
#Trigger 3 
#AFTER UPDATE 
#Actions to be taken after updating rows in the customers table
c.execute('''
CREATE TRIGGER aft_update AFTER UPDATE ON customers 
BEGIN 
/*log information about a new phone number*/
	INSERT INTO customers_log(Cust_ID, First_Name, Last_Name, Phone_Number, Edit_Time, Description)
	VALUES(OLD.Customer_ID, OLD.First_Name, OLD.Last_Name, NEW.Phone_Number, current_date, 'Update Phone_Number from '|| OLD.Phone_Number || 'to' || NEW.Phone_Number);
END; 
''')
c.fetchall

In [15]:
#Testing trigger 3
c.execute('''
UPDATE customers SET Phone_Number = '9827374839' WHERE Customer_ID = 9;
''')
c.fetchall

In [16]:
#Trigger 4
#BEFORE UPDATE
#Actions to be taken before updating a row in the customers table
c.execute('''
CREATE TRIGGER bef_update BEFORE UPDATE ON customers 
BEGIN
/*Check if the Customer_ID can be changed*/
	SELECT CASE 
	WHEN ((SELECT customers.Customer_ID from customers WHERE customers.Customer_ID = NEW.Customer_ID) IS NOT NULL)
	THEN RAISE(FAIL, 'ERROR: This employee_id can not be udpated.')
END;
END;
''')
c.fetchall

In [17]:
#Testing trigger 4
c.execute('''
UPDATE customers SET Customer_ID = 13 WHERE Last_Name = "Kolli";
''')
c.fetchall

In [18]:
#Trigger 5 
#AFTER DELETE
#Actions to be taken after deleting rows from the customers table
c.execute('''
CREATE TRIGGER aft_delete AFTER DELETE ON customers 
BEGIN 
/*log the information about which customer was removed*/	
	INSERT INTO customers_log(Cust_ID, First_Name, Last_Name, Phone_Number, description)
	VALUES(OLD.Customer_ID, OLD.First_Name, OLD.Last_Name, OLD.Phone_Number, 'Deleted on ' || date('NOW'));
END;
''')
c.fetchall

In [19]:
#Testing trigger 5 
c.execute('''
DELETE FROM customers WHERE Customer_ID = 5;
''')
c.fetchall

In [20]:
#Trigger 6 
#BEFORE DELETE
#Actions to be taken before deleting rows from customers_log table
c.execute('''
CREATE TRIGGER bef_delete BEFORE DELETE ON customers_log
BEGIN 
/*Check for foreign key violation*/
	SELECT CASE 
	WHEN (SELECT COUNT(Customer_ID) FROM customers where Customer_ID = OLD.Cust_ID) >0 
	THEN RAISE(FAIL, 'ERROR: Foreign Key Violation: Customers_ID rows reference row to be deleted.')
END;
END;
''')
c.fetchall

In [21]:
#Testing trigger 6
c.execute('''
DELETE FROM customers_log WHERE Cust_ID = 11;
''')
c.fetchall

#This trigger raises an error because it is trying to delete a customer row from customers_log when it still exists in the customers table 
#The row in customers where customer_ID is equal to 11 has not been deleted yet
#Therefore it cannot be deleted from customers_log since Cust_ID in customers_log is a foreign key that references Customer_ID in the customers table
#This is a foreign key violation therefore, it raises the apprropriate error

IntegrityError: ignored

SQL Queries: Used to query data from the library database

In [22]:
#SQL Query 1: List all the books that were borrowed by customers and the number of times each book was borrowed in the order of most borrowed to least borrowed
c.execute('''
SELECT B.Title, B.Author_ID, B.ISBN_Number, COUNT(L.Book_ID) 
FROM books AS B, loans AS L
WHERE B.Book_ID = L.Book_ID
GROUP BY B.Book_ID 
ORDER BY COUNT(L.Book_ID) DESC
''').fetchall()

[('Tamas', 7, 9790000000000.0, 3),
 ('Things Fall Apart', 3, 9780000000000.0, 2),
 ('The Beautiful and Dammed ', 1, 9780000000000.0, 2),
 ('The Catcher in the Rye', 10, 9780000000000.0, 2),
 ('Lord of the Flies ', 14, 9780000000000.0, 2),
 ('The Color Purple ', 11, 9780000000000.0, 2),
 ('To Kill a Mockingbird', 4, 9780000000000.0, 1),
 ('The Great Gatsby', 1, 9780000000000.0, 1),
 ('A Tale of Two Cities', 6, 9780000000000.0, 1),
 ('Little Women', 8, 9780000000000.0, 1),
 ('Pride and Prejudice', 9, 9780000000000.0, 1),
 ('Kite Runner', 2, 9780000000000.0, 1),
 ('Animal Farm ', 12, 9780000000000.0, 1)]

In [23]:
#SQL Query 2: Create a list of the loans that had no fines and the respective information about the book borrowed and customer details
c.execute('''
SELECT L.Loan_ID, BR.Customer_ID, BR.First_Name, BR.Last_Name, L.Book_ID
FROM Borrowers AS BR, loans AS L
WHERE L.Borrower_ID = BR.Customer_ID AND L.Fine = "0"
''').fetchall()

[(3, 6, 'Shadman', 'Sakib', 6),
 (5, 1, 'Sanskriti', 'Chandak', 1),
 (9, 10, 'Yamini', 'Yepuri', 5),
 (11, 2, 'Saloni', 'Mathur', 11),
 (14, 10, 'Yamini', 'Yepuri', 12),
 (16, 6, 'Shadman', 'Sakib', 15),
 (18, 2, 'Saloni', 'Mathur', 11)]

In [24]:
#SQL Query 3: List the total amount of fines for each customer from highest to lowest 
c.execute('''
SELECT C.Customer_ID, C.First_Name, C.Last_Name, SUM(LWF.Fine)
FROM customers AS C, LoansWithFines AS LWF
WHERE C.Customer_ID = LWF.Borrower_ID
GROUP BY LWF.Borrower_ID
ORDER BY LWF.Fine DESC
''').fetchall()

[(1, 'Sanskriti', 'Chandak', 65),
 (3, 'Payal', 'Mahesh', 60),
 (2, 'Saloni', 'Mathur', 45),
 (10, 'Yamini', 'Yepuri', 35)]

In [25]:
#SQL Query 4: List the books in order of most recently published
c.execute('''
SELECT P.Publisher_ID, B.Title, B.Author_ID, P.Year_Published
FROM books AS B, publishers AS P
WHERE P.Publisher_ID = B.Publisher_ID
ORDER BY P.Year_Published DESC
''').fetchall()

[(11, 'The Color Purple ', 11, 1982),
 (9, 'Tamas', 7, 1973),
 (4, 'To Kill a Mockingbird', 4, 1960),
 (8, 'Things Fall Apart', 3, 1958),
 (7, 'Lord of the Rings', 5, 1954),
 (14, 'Lord of the Flies ', 14, 1954),
 (13, 'The Catcher in the Rye', 10, 1951),
 (12, 'Animal Farm ', 12, 1945),
 (5, 'The Great Gatsby', 1, 1925),
 (6, 'The Beautiful and Dammed ', 1, 1922),
 (10, 'Little Women', 8, 1868),
 (2, 'A Tale of Two Cities', 6, 1859),
 (2, 'Kite Runner', 2, 1859),
 (1, 'Pride and Prejudice', 9, 1813),
 (15, 'Hamlet ', 13, 1603)]

In [26]:
#SQL Query 5: List the authors in order of the number of books the library has by that author
c.execute('''
SELECT A.Author_ID, A.First_Name, A.Last_Name, COUNT(A.Author_ID) 
FROM authors AS A 
INNER JOIN books AS B ON B.Author_ID = A.Author_ID
GROUP BY A.Author_ID
''').fetchall()

[(1, 'F. Scott', 'Fitzgerald', 2),
 (2, 'Khaled', 'Hosseini', 1),
 (3, 'Bisham', 'Sahni', 1),
 (4, 'Harper', 'Lee', 1),
 (5, 'J. R. R.', 'Tolkien', 1),
 (6, 'Charles', 'Dickens', 1),
 (7, 'Chinua', 'Achebe', 1),
 (8, 'Louisa', 'Alcott', 1),
 (9, 'Jane', 'Austen', 1),
 (10, 'J.D.', 'Salinger ', 1),
 (11, 'Alice', 'Walker', 1),
 (12, 'George', 'Orwell ', 1),
 (13, 'William', 'Shakespeare', 1),
 (14, 'William', 'Golding', 1)]

In [27]:
#close the connection 
conn.close()